@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #10b981;
  --color-secondary: #2563eb;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  font-family: "Roboto", sans-serif;
}
.navbar .active {
  color: rgb(12, 76, 78);
  font-weight: bold;
  border: 1px solid #cac8c8ff;
  border-radius: 20px;
  background: rgb(132, 179, 187);
}

.drawer-side .active {
  color: rgb(12, 76, 78);
  font-weight: bold;
  border: 1px solid #cac8c8ff;
  border-radius: 20px;
  background: rgb(132, 179, 187);
}
